In [6]:
import pandas as pd

In [49]:
ch = pd.read_csv('Churn.csv')

In [50]:
ch.head(3)

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes

In [51]:
ch.drop(['customerID'],axis =1,inplace=True)  # drop column which is not required

In [53]:
y = ch.drop(['Churn'],axis =1)

In [54]:
from scipy.stats import chi2_contingency

In [57]:
chi_sqr_values = []
for i in y:
    c = pd.crosstab(ch['Churn'],ch[i])
    Pvalue = chi2_contingency(c)[1]
    chi_sqr_values.append(Pvalue)

In [59]:
chi_sqr_values

[0.48657873605618596,
 1.510066805092378e-36,
 2.1399113440759935e-36,
 4.9249216612154196e-43,
 1.2807811055496877e-176,
 0.3387825358066928,
 0.0034643829548773,
 9.571788222840544e-160,
 2.6611496351768565e-185,
 2.0797592160865457e-131,
 5.505219496457244e-122,
 1.4430840279999813e-180,
 5.528994485739024e-82,
 2.667756755723681e-82,
 5.863038300673391e-258,
 4.073354668665985e-58,
 3.6823546520097993e-140,
 1.8852727784254426e-18,
 0.5532461954861401]

In [60]:
df = pd.DataFrame()

In [61]:
ch.columns[0:-1]

Index(['gender', 'SeniorCitizen', 'Partner', 'Dependents', 'tenure',
       'PhoneService', 'MultipleLines', 'InternetService', 'OnlineSecurity',
       'OnlineBackup', 'DeviceProtection', 'TechSupport', 'StreamingTV',
       'StreamingMovies', 'Contract', 'PaperlessBilling', 'PaymentMethod',
       'MonthlyCharges', 'TotalCharges'],
      dtype='object')

In [62]:
list(ch.columns)[0:-1]

['gender',
 'SeniorCitizen',
 'Partner',
 'Dependents',
 'tenure',
 'PhoneService',
 'MultipleLines',
 'InternetService',
 'OnlineSecurity',
 'OnlineBackup',
 'DeviceProtection',
 'TechSupport',
 'StreamingTV',
 'StreamingMovies',
 'Contract',
 'PaperlessBilling',
 'PaymentMethod',
 'MonthlyCharges',
 'TotalCharges']

In [67]:
df['columns'] = list(y)
df['Pvalues'] = chi_sqr_values

In [68]:
df

             columns        Pvalues
0             gender   4.865787e-01
1      SeniorCitizen   1.510067e-36
2            Partner   2.139911e-36
3         Dependents   4.924922e-43
4             tenure  1.280781e-176
5       PhoneService   3.387825e-01
6      MultipleLines   3.464383e-03
7    InternetService  9.571788e-160
8     OnlineSecurity  2.661150e-185
9       OnlineBackup  2.079759e-131
10  DeviceProtection  5.505219e-122
11       TechSupport  1.443084e-180
12       StreamingTV   5.528994e-82
13   StreamingMovies   2.667757e-82
14          Contract  5.863038e-258
15  PaperlessBilling   4.073355e-58
16     PaymentMethod  3.682355e-140
17    MonthlyCharges   1.885273e-18
18      TotalCharges   5.532462e-01

In [70]:
df = df.sort_values(['Pvalues'])

In [73]:
df[df.Pvalues < .05]

             columns        Pvalues
14          Contract  5.863038e-258
8     OnlineSecurity  2.661150e-185
11       TechSupport  1.443084e-180
4             tenure  1.280781e-176
7    InternetService  9.571788e-160
16     PaymentMethod  3.682355e-140
9       OnlineBackup  2.079759e-131
10  DeviceProtection  5.505219e-122
13   StreamingMovies   2.667757e-82
12       StreamingTV   5.528994e-82
15  PaperlessBilling   4.073355e-58
3         Dependents   4.924922e-43
1      SeniorCitizen   1.510067e-36
2            Partner   2.139911e-36
17    MonthlyCharges   1.885273e-18
6      MultipleLines   3.464383e-03