In [1]:
import pandas as pd

In [2]:
mtcars = pd.read_csv(r"C:\Users\MR.GODHADE\Downloads\Mtcars.csv")

In [6]:
mtcars.head()

    mpg  cyl   disp   hp  drat     wt   qsec  vs  am  gear  carb
0  21.0    6  160.0  110  3.90  2.620  16.46   0   1     4     4
1  21.0    6  160.0  110  3.90  2.875  17.02   0   1     4     4
2  22.8    4  108.0   93  3.85  2.320  18.61   1   1     4     1
3  21.4    6  258.0  110  3.08  3.215  19.44   1   0     3     1
4  18.7    8  360.0  175  3.15  3.440  17.02   0   0     3     2

In [7]:
mtcars.shape

(32, 11)

### Corelation Matrix

#### 1. In corelation digonal element will be 1

#### 2. Corelation (A,B)= Corelation (B,A)

#### 3. matrix is symetric around the diagonals

In [8]:
mtcars.corr()

,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
mpg,1.000000,-0.852162,-0.847551,-0.776168,0.681172,-0.867659,0.418684,0.664039,0.599832,0.480285,-0.550925
cyl,-0.852162,1.000000,0.902033,0.832447,-0.699938,0.782496,-0.591242,-0.810812,-0.522607,-0.492687,0.526988
disp,-0.847551,0.902033,1.000000,0.790949,-0.710214,0.887980,-0.433698,-0.710416,-0.591227,-0.555569,0.394977
hp,-0.776168,0.832447,0.790949,1.000000,-0.448759,0.658748,-0.708223,-0.723097,-0.243204,-0.125704,0.749812
drat,0.681172,-0.699938,-0.710214,-0.448759,1.000000,-0.712441,0.091205,0.440278,0.712711,0.699610,-0.090790
wt,-0.867659,0.782496,0.887980,0.658748,-0.712441,1.000000,-0.174716,-0.554916,-0.692495,-0.583287,0.427606
qsec,0.418684,-0.591242,-0.433698,-0.708223,0.091205,-0.174716,1.000000,0.744535,-0.229861,-0.212682,-0.656249
vs,0.664039,-0.810812,-0.710416,-0.723097,0.440278,-0.554916,0.744535,1.000000,0.168345,0.206023,-0.569607
am,0.599832,-0.522607,-0.591227,-0.243204,0.712711,-0.692495,-0.229861,0.168345,1.000000,0.794059,0.057534
gear,0.480285,-0.492687,-0.555569,-0.125704,0.699610,-0.583287,-0.212682,0.206023,0.794059,1.000000,0.274073
carb,-0.550925,0.526988,0.394977,0.749812,-0.090790,0.427606,-0.656249,-0.569607,0.057534,0.274073,1.000000

In [ ]:
# take mpg as your target variavble and find corelation  of mpg with all variables
# create a df which has 2 columns 'nam', co-relation

In [16]:
names =list(mtcars.columns)

In [17]:
names.remove('mpg')
names

['cyl', 'disp', 'hp', 'drat', 'wt', 'qsec', 'vs', 'am', 'gear', 'carb']

In [21]:
corr_list = []
for i in names:
    corr_list.append(mtcars.mpg.corr(mtcars[i]))

In [22]:
corr_list

[-0.8521619594266132,
 -0.8475513792624785,
 -0.7761683718265865,
 0.6811719078067495,
 -0.8676593765172281,
 0.4186840339217781,
 0.6640389191275927,
 0.599832429454648,
 0.4802847573388421,
 -0.5509250739024586]

In [23]:
corr_df = pd.DataFrame()

In [25]:
corr_df ['col_names'] = names
corr_df['Co-relation'] = corr_list

In [26]:
corr_df

  col_names  Co-relation
0       cyl    -0.852162
1      disp    -0.847551
2        hp    -0.776168
3      drat     0.681172
4        wt    -0.867659
5      qsec     0.418684
6        vs     0.664039
7        am     0.599832
8      gear     0.480285
9      carb    -0.550925

In [27]:
corr_df.sort_values('Co-relation',ascending= False)

  col_names  Co-relation
3      drat     0.681172
6        vs     0.664039
7        am     0.599832
8      gear     0.480285
5      qsec     0.418684
9      carb    -0.550925
2        hp    -0.776168
1      disp    -0.847551
0       cyl    -0.852162
4        wt    -0.867659

In [9]:
body = pd.read_csv(r"C:\Users\MR.GODHADE\Desktop\Untitled Folder\bodyfat.csv")

In [10]:
body

    Bodyfat  Age  Weight  Height  Neck  Chest  Abdomen  Ankle  Biceps  Wrist
0      32.3   41  247.25   73.50  42.1  117.0    115.6   26.3    37.3   19.7
1      22.5   31  177.25   71.50  36.2  101.1     92.4   24.6    30.1   18.2
2      22.0   42  156.25   69.00  35.5   97.8     86.0   24.0    31.2   17.4
3      12.3   23  154.25   67.75  36.2   93.1     85.2   21.9    32.0   17.1
4      20.5   46  177.00   70.00  37.2   99.7     95.6   22.5    29.1   17.7
..      ...  ...     ...     ...   ...    ...      ...    ...     ...    ...
95     20.1   48  177.25   72.75  36.8   96.0     90.0   22.8    29.9   18.1
96     29.4   43  187.75   74.00  37.7   97.8     98.6   23.8    34.3   17.7
97     13.0   33  184.25   68.75  40.7   98.9     92.1   23.5    33.5   19.7
98     25.2   26  223.00   70.25  40.6  114.1    106.8   24.7    36.0   18.4
99      4.0   47  127.50   66.75  34.0   83.4     70.4   21.9    26.8   16.8

[100 rows x 10 columns]

In [12]:
body.corr()

,Bodyfat,Age,Weight,Height,Neck,Chest,Abdomen,Ankle,Biceps,Wrist
Bodyfat,1.000000,0.255798,0.595959,0.032210,0.504443,0.682266,0.811593,0.387911,0.418107,0.373095
Age,0.255798,1.000000,-0.097905,-0.268673,0.038501,0.072908,0.141339,-0.073522,-0.079398,0.216315
Weight,0.595959,-0.097905,1.000000,0.568433,0.838977,0.916047,0.888317,0.790388,0.786266,0.755123
Height,0.032210,-0.268673,0.568433,1.000000,0.370396,0.345312,0.265403,0.454985,0.435460,0.420928
Neck,0.504443,0.038501,0.838977,0.370396,1.000000,0.789799,0.769086,0.664068,0.701067,0.777259
Chest,0.682266,0.072908,0.916047,0.345312,0.789799,1.000000,0.922728,0.700092,0.730124,0.695795
Abdomen,0.811593,0.141339,0.888317,0.265403,0.769086,0.922728,1.000000,0.643211,0.652148,0.672061
Ankle,0.387911,-0.073522,0.790388,0.454985,0.664068,0.700092,0.643211,1.000000,0.650841,0.688320
Biceps,0.418107,-0.079398,0.786266,0.435460,0.701067,0.730124,0.652148,0.650841,1.000000,0.630473
Wrist,0.373095,0.216315,0.755123,0.420928,0.777259,0.695795,0.672061,0.688320,0.630473,1.000000